$color-red: rgba(255, 0, 0, 0.925);
$color-text: rgb(219, 217, 217);
$color-white: white;
$color-black: black;
$color-h3: red;
$color-bg:rgb(248,249,250);
$color-gray: gray;
$end-bg:rgb(248,249,250);
